*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 200px;
    width: 100%;
    background-color: white;
}

main{
    height: 600px;
    width: 100%;
    background-color: aqua;
}

footer{
    height: 200px;
    width: 100%;
    background-color: blue;
}